<component name="libraryTable">
  <library name="spring-security-config">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-security-core-3.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-context-3.0.7.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-web-3.0.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/aspectjweaver-1.6.10.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/aspectjweaver-1.6.10-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-security-config-3.1.4.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-expression-3.0.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/commons-logging-1.1.1-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-expression-3.0.7.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-core-3.0.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-core-3.0.7.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-jdbc-3.0.7.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-context-3.0.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-security-core-3.1.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/commons-logging-1.1.1-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-security-config-3.1.4.RELEASE-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-security-core-3.1.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-tx-3.0.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-beans-3.0.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-jdbc-3.0.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/aopalliance-1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/aspectjweaver-1.6.10-javadoc.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/commons-logging-1.1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-asm-3.0.7.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-beans-3.0.7.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-aop-3.0.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-tx-3.0.7.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-security-web-3.1.4.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/aopalliance-1.0-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-asm-3.0.7.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-web-3.0.7.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-aop-3.0.7.RELEASE-sources.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-config/spring-security-config-3.1.4.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>